body{
    font-size: 24px;
    font-family: 'Outfit', sans-serif;;
    margin: 0%;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
.imagen{
    height: 250px;
}
nav a{
    text-decoration: none;
    color: rgb(139, 137, 11);
}
nav a:hover{
    color: black;
    text-decoration: underline;
}
h1 , p, div , nav{
    text-align: center;
}